/*general_class*/
.background_grey {
    background: #F8F8FF;
}

.basic_margin {
    margin: 5em, auto;
}

/*first_section*/
.first_section_nav {
    padding: 1em;
    background: skyblue;
}

.brand_logo {
    width: 10em;
    height: auto;
}

.link_name {
    margin: auto, 2em;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

#first_section_nav_link_name{
    padding: 0.5em;
    float: right;
}

.first_section_search {
    margin: 10rem auto;
}

#first_section_search_word {
    font-weight: bold;
}

#first_section_search_input {
    margin: 2em auto;
    border-style: solid;
    border-width: 0.7em;
    border-radius: 0.5em;
    width: 42em;
}

/*누적 정보*/
#accumulated_info {
    background-color: black;
}

.category {
    display: inline-block;
    padding : 0 7em;
    color: white;
    font-weight: bold;
}

.icon_category {
    display: inline-block;
    padding : 1em 4em;
    font-weight: bold;
}

.icon_category:hover > p {
    color: rgb(47, 255, 109);
}

.icon_category:hover > span {
    color: rgb(47, 255, 109);
}

.accumulated_num {
    font-weight: bold;
    font-size: 1.5em !important;
}

/*second_section : popularity_section*/
#popularity_section {
    margin: 4em 8em;
}

.img_size {
    width: 20em;
    height: 10em;
}

#gosu_intro {
    margin: 5em, auto;
}

#help_info {
    margin: 5em;
    display: inline-block;
}

.help_info_title {
    font-weight: bold;
    color: rgb(47, 224, 24);
}

