/** General_CSS **/

.container-fluid{
    padding: 0;
}

.background_grey {
    background: #F8F8FF;
}

.basic_margin {
    margin: 5em, auto;
}

.hidden {
    display: none !important;
}

.text_center {
    text-align: center;
}

/** Search_Section.js **/


/* 캐러셀 Carousel 효과 */

.index_gosu_01 {
    background-image: url('./background_img/index_gosu_01.jpg');
    background-repeat: no-repeat;
}

.index_gosu_02 {
    background-image: url('./background_img/index_gosu_02.jpg');
}

.index_gosu_03 {
    background-image: url('./background_img/index_gosu_03.jpg');
}

.index_gosu_04 {
    background-image: url('./background_img/index_gosu_04.jpg');
}


/* 네비게이션 바 */

.navbar {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-header {
    text-align: center;
}

.navbar-header > div {
    display: inline-block;
    width: 100%;
}

.navbar-button {
    float: left;
    margin-left: 1em;
}

.brand_logo {
    width: 10em;
    margin-top: .3em;
    margin-right: 3.7em;
}

.cancle_icon {
    width: 22px;
    height: 20px;
}

#link_group{
    justify-content: center;
    align-items: center;
    color: white;
}

.link_name {
    font-weight: bold;
    font-size: 0.9em;
}

.link_name:hover {
    text-decoration: none;
}

#first_section_nav_link_name{
    padding: 0.5em;
    float: right;
}


/* 검색 창 */

.first_section_search {
    margin: 5em auto;
}

#first_section_search_word {
    font-weight: bold;
    color: white;
}

#first_section_search_input {
    margin: 1em auto;
    border-style: solid;
    border-width: 0.7em;
    border-radius: 0.5em;
    max-width: 41em;
    font-size: 15px;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-btn>.btn {
    font-size: 15px;
}


/*누적 정보*/

.accumulated_info {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: .5em;
    margin-top: 9em;
}

.accumulated_num {
    font-weight: bold;
    font-size: 1.5em !important;
}

.accum_category {
    display: inline-block;
    color: white;
    font-weight: bold;
    width: 23%;
}


/* 아이콘 카테고리 */

.icon_category {
    text-align: center;
    padding: .5em;
}

.icon {
    display: inline-block;
    font-weight: bold;
    width: 12%;
}

.icon:hover > p, .icon:hover > span {
    color: rgb(47, 255, 109);
}

.icon:hover {
    text-decoration: none !important;
}



/** Popularity_Section **/


/* 인기 서비스 */

#popularity_section {
    margin: 4em 8em;
}

.img_size {
    width: 20em;
    height: 10em;
}

.arrow_img_size {
    width: 2em;
    height: 2em;
}

#gosu_intro {
    margin: 5em auto;
}

#help_info {
    margin: 5em auto;
}

.help_info_title {
    font-weight: bold;
    color: rgb(47, 224, 24);
}

/* 활동 고수 */

#active_gosu {
    display: inline-block;
    background-color: white;
    border: 1px solid #e1e2e6;
    border-radius: 5px;
    margin: 0 2em 1em 0;
    padding: 1em;
    min-width: 280px;
    min-height: 200px;
    max-width: 400px;
}

#active_gosu_info img {
    display: inline-block;
}


/* Participant Section */

.participant_section {
    padding: 4em 4em;
}

.thumbnail {
    margin: 5em auto;
}

.gosu_background{
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    margin: 0;  
    padding: 1em 1em;
    width: 100%;
    height: 25em;
    line-height: 1em;
}

.gosu_background_image_01 {
    background-image: url('./background_img/gosu_01.jpg');
    background-size: 500px 500px;
}

.gosu_background_image_02 {
    background-image: url('./background_img/gosu_02.jpg');
    background-size: 500px 500px;
}

.gosu_background_image_03 {
    background-image: url('./background_img/gosu_03.jpg');
    background-size: 500px 500px;
}

.gosu_background_image_04 {
    background-image: url('./background_img/gosu_04.jpg');
    background-size: 500px 500px;
}

.comment {
    height: 17em;
    line-height: 2em;
    padding: .5em;
}

#reviewer {
    border-top: 1px solid #e1e2e6;
    padding-top: 2em;
    padding-left: .5em;
}

#media-body-stars > img{
    display: inline-block;
}
